.vscode

aurora.exe
auroradebug.exe
auroradev.exe
auroradatagen
auroradatagen.exe
b.bat
bd.bat
bdatagen.bat
bdbg.bat

test.bat
data
testing
trainer
weather-factory
engine/EngineTests

bm.bat
bmd.bat
auroramini.exe
auroraminidev.exe
/.vs
